{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Useful links</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>1. You Tube video about Common Mistakes in <strong>Interior Design.</strong></h4>
                <a href="https://youtu.be/xRGXi1aTh1w?si=hOiCByNWVyMDmqcf" rel="external"
                    aria-label="Watch a YouTube video about interior design (opens in a new tab)" target="_blank">
                    <h4>Watch about interior design here</h4>
                </a>
                <br>
                <h4>2. How to choose the Perfect <strong>Vase</strong> for Your Flowers</h4>
                <a href="https://www.interflora.co.uk/blog/how-to-choose-the-perfect-vase-for-your-flowers"
                    rel="external" aria-label="Read an article about vases (opens in a new tab)" target="_blank">
                    <h4>Read about vases here</h4>
                </a>
                <br>
                <h4>3. Eight Easy Ways to <strong>Cozy</strong> Up Your <strong>Home</strong></h4>
                <a href="https://www.realsimple.com/home-organizing/easy-ways-cozy-home" rel="external"
                    aria-label="Read an article about how to make your home cozy (opens in a new tab)" target="_blank">
                    <h4>Read here</h4>
                </a>
                <br>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}