<footer class="text-center footer-text mobile-footer">
    <div class="footer-color fixed-bottom">
        <div class="inline">
            <div class="col-sm-6 mobile">
                <a href="{% url 'subscribe' %}" class="btn btn-outline-black rounded-0 subscribe-btn">
                    <span class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                </a>
                <a href="https://www.facebook.com/mycozyhomehere/" target="_blank" class="btn btn-outline-black rounded-0 subscribe-btn">
                    <span class="icon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>
                </a>
            </div>
            <div class="col-sm-6 text-center white mobile">
                <p class="copyright">© {% now "Y" %} Copyright</p>
            </div>
        </div>
    </div>
</footer>
